<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @* Redirect to login if not authorized *@
                    @code {
                        protected override void OnParametersSet()
                        {
                            Navigation.NavigateTo("/login", forceLoad: true);
                        }

                        [Inject] private NavigationManager Navigation { get; set; } = default!;
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <h2>Page not found</h2>
                <h5>Sorry, there's nothing at this address or you do not have permissions</h5>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
