@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using CourseEnrollBlazorServer.Data
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>CourseEnroll BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                    <span>Hello, @context.User.Identity?.Name!</span>
                    <a href="/logout" class="ms-2">Logout</a>
                    <a href="/login">Login</a>
                    <a href="/register" class="ms-2">Register</a>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>